@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Maven+Pro&display=swap");

@tailwind base;

body {
  font-family: "Arimo", sans-serif;
  margin: 0;
  background-color: rgb(228, 236, 244);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2 {
  font-family: "Maven Pro", sans-serif;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

@tailwind components;

.button {
  @apply px-4 py-2 rounded focus:outline-none focus:ring focus:border-light-primary;
}

.input-field {
  @apply block w-full py-2 px-3  rounded-md focus:outline-none focus:border-light-primary;
}

.card {
  @apply shadow-md p-4 rounded-md my-2;
}

.nav-text {
  @apply text-xs sm:text-sm md:text-base;
}

.text {
  @apply text-xs sm:text-sm md:text-base;
}
.h1 {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl  font-bold;
}
.h2 {
  @apply text-xl md:text-2xl lg:text-3xl  font-bold;
}
.h3 {
  @apply text-lg md:text-xl lg:text-2xl  font-bold;
}

.switch-checkbox {
  @apply sr-only;
}

.switch-label {
  @apply relative inline-block w-10 h-5 rounded-full cursor-pointer transition-colors duration-300 ease-in-out;
}

.switch-label.bg-green-500 {
  @apply bg-primary;
}

.switch-label.bg-gray-300 {
  @apply bg-gray-400;
}

.switch-slider {
  @apply inline-block w-5 h-5 rounded-full bg-primary shadow-md transform transition-transform duration-300 ease-in-out;
}

.translate-x-5 {
  @apply translate-x-4;
}
